<header>
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand">Logo Place</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <!--<li *ngIf="userService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">-->
          <li>
            <a routerLink="/dashboard">Dashboard</a>
          </li>
          <!--<li>-->
            <li *ngIf="userService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/profile">Profile</a>
          </li>
          <li>
            <!--<li *ngIf="!userService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">-->
            <a routerLink="/upload">Upload</a>
          </li>
          <li>
            <!--<li *ngIf="!userService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">-->
            <a routerLink="/register">Register</a>
          </li>
          <li>
            <!--<li *ngIf="!userService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">-->
            <a routerLink="/login">Login</a>
          </li>
          <!--<li *ngIf="userService.loggedIn()"> -->
          <li>
            <a (click)="onLogout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
