<header>
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">Logo Place</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a routerLink="/documents">My Documents</a></li>
                <li><a routerLink="/upload">Upload Files</a></li>
                <li><a>Help & FAQs</a></li>
                <li><a routerLink="/login"> Login </a></li>
            </ul>
        </div>
    </div>
</nav>
</header>