<div class="container">

    <form class="form-signin col-md-9 col-lg-9">
        <h2 class="form-signin-heading">Please sign in</h2>
        <div class="form-group input-username">
            <input type="email" class="form-control" placeholder="Email address" required autofocus />
        </div>
        <div class="form-group input-password">
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required />
        </div>
        <div class="checkbox">
            <label>
            <input type="checkbox" value="remember-me" /> Remember me
          </label>
        </div>
        <div class="submit-buttons col-md-9 col-md-9">
            <button class="btn btn-lg btn-primary col-md-5 col-lg-5" type="submit">Sign in</button>
            <a routerLink="register"><button class="btn btn-lg btn-success col-md-5 col-lg-5">Register</button></a>
        </div>
    </form>

</div>